<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10570998105-l4vd82g79m9cu2pqhnkq49bsh6so6erk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10570998105-l4vd82g79m9cu2pqhnkq49bsh6so6erk</string>
	<key>API_KEY</key>
	<string>AIzaSyA6nVGNoVCozv2cUxBGa90wAa-MrZzUiqo</string>
	<key>GCM_SENDER_ID</key>
	<string>10570998105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zvonimir.medak.Snake</string>
	<key>PROJECT_ID</key>
	<string>arsnake-bb15f</string>
	<key>STORAGE_BUCKET</key>
	<string>arsnake-bb15f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10570998105:ios:acd35a7825ff647f0d6c48</string>
</dict>
</plist>